<!DOCTYPE html>
<html>
	<head>
	    <link rel="stylesheet" href="sweetalert.css">
    	<script type="text/javascript" src="DetailsofNotes.js" ></script>
    	<script type="text/javascript" src="sweetalert.min.js"></script>
    	<script type="text/javascript" src="jquery.min.js"></script>
		<script type="text/javascript" src="crypto.js"></script>		
	</head>
	
    <body>
    	<h1>
    		<center>
    			ENCRYPTED NOTES
    		</center>
    	</h1>
    	<h2>
    		<left>
    			Title:
    		</left>
    	</h2>
    	<h3>
    		<left>
    			<input type="text" name="" placeholder="title" id="topicname" style="width:300px;"/>
    		</left>
    	</h3>
    	<h2>
    		<left>
    			ENCRYPTED NOTES:
    		</left>
    	</h2>
	<textarea name="textarea" cols="40" rows="5" id="topicdesc"></textarea>
	<h6><left><input type="submit" value="back" id="backBtn" ></left><left><input type="submit" value="save" id="saveBtn"></left><left><input type="submit" value="Update" id="updateBtn"></left></h6>
	
	  <div id="footer">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
	
    </body>
</html>


 