<!DOCTYPE html>
<html>
	<head>
	     <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />

        <!--Import Google Icon Font-->
        <!-- <link type="text/css" rel="stylesheet" href="../css/material_icons.css"> -->
        <link rel="stylesheet" type="text/css" href="../css/sweetalert2.min.css">

    	<!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
        <link type="text/css" rel="stylesheet" href="../css/passwordPage.css"/>
        
	</head>
	
    <body>
    <div class="page-wrap">
        <div class="navbar-fixed">
            <nav class = "white">
                <div style="background-color:white" class="nav-wrapper">
                    <a href="" style="color:black" class="brand-logo-center" >
                        <img src="../images/icon.png" width="36" height="36" draggable="false" align="center"></img>
                        <b>
                            <font size="4">
                                ENCRYPTED NOTES
                            </font>
                        </b>                        
                    </a>
                </div>
            </nav>
        </div>
	
    	<div class="center-align nav-wrapper">
    			<form id="passwordForm">
                    <!-- <label for="userPassword">
                        Password:
        			</label> -->                
                    <input id="userPassword" type="password" placeholder="Password"/>
                    
                    <!-- <label for="userconfirmPassword">
                        Confirm Password:
                    </label> -->
                    <input id="userconfirmPassword" type="password" placeholder="Please confirm your password here..."/>
                    
                    <input class="btn waves-effect waves-light grey" type="button" id="submitBtn" value="Submit"/>
                </form>
        </div>

        <div style="background-color:white" id="footer">
            <img id="footerimage" src="../images/logo_footer.png" width="165" height="60" draggable="false" align="middle"/>
        </div>

    
	</div>    

    
        <script type="text/javascript" src="../js/controllers/passwordPage.js" ></script>

        <script src="../js/sweetalert2.min.js"></script>
        <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../js/materialize.min.js"></script>
        <script type="text/javascript" src="../js/crypto.js"></script>
        <script type='application/javascript' src='../js/fastclick.js'></script>
    </body>
</html>