<!DOCTYPE html>
<html>
	<head>
	     <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--Import Google Icon Font-->
        <link type="text/css" rel="stylesheet" href="../css/material_icons.css">
        <link rel="stylesheet" type="text/css" href="../css/sweetalert2.min.css">
    	        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
        <style>
        input.ex1 {
            padding:4px;
            size: 35px;
        }
        </style>
	</head>
	
    <body>
        <div class="navbar-fixed">
            <nav class = "white">
                <div style="background-color:white" class="nav-wrapper">
                    <a href="" style="color:black" class="brand-logo-center" >
                        <img src="../images/icon.png" width="36" height="36" draggable="false" align="center">
                            <b>
                                <font size="4">
                                    ENCRYPTED NOTES
                                </font>
                            </b>
                        </img>
                    </a>
                </div>
            </nav>
        </div>
	
	<div class="center-align nav-wrapper">
			<label for="userPassword">
                Password:
			</label>
            <input class="ex1" id="userPassword" type="password" placeholder="Password"/>
            
            <label for="userconfirmPassword">
                Confirm Password:
            </label>
            <input class="ex1" id="userconfirmPassword" type="password" placeholder="Please confirm your password here..."/>
            
            <input class="waves-effect waves-light btn grey" type="button" id="submitBtn" value="Submit"/>
    </div>

    <script src="../js/sweetalert2.min.js"></script>
    <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/crypto.js"></script>
    <script type='application/javascript' src='../js/fastclick.js'></script>

	<script type="text/javascript" src="../js/controllers/passwordPage.js" ></script>
	
    </body>
</html>